body {
    background-color: blueviolet;
}

/* .form-div {
    display: flex;
    justify-content: center;
} */

.new-form {
    border: solid 3px;
    width: 30vw;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    background-color: blanchedalmond;
}