body {
    background-color: turquoise;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.font {
    width: 100px;
    height: 40px;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#heading {
    font-size: 200px;
}